/* Worked through from https://freshman.tech/css-grid-calculator/ */

/* This sets the margin and padding of every HTML element to zero and the box-sizing: border-box; declaration changes the box model by ensuring that the padding and border of an element no longer increases its width. */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



/* absolutely center the calculator on the page and give it a border and fixed width. */
 .calculator {
     background-image: radial-gradient(rgb(8, 134, 4), rgb(73, 72, 72));
     border: 1px solid #ccc;
     border-radius: 35px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px;
 }

 .calculator-screen {
     width: 100%;
     font-size: 5rem;
     height: 80px;
     border: none;
     background-color: #252525;
     color: rgb(9, 156, 33);
     text-align: right;
     padding-right: 20px;
     padding-left: 10px;
 }

 .calculator-screen:hover {
     transform: rotate(-45deg);
 }

 button {
    height: 60px;
    background-color: #fff;
    border-radius: 60px;
    border: 10px solid #c4c4c4;
    /* background-color: transparent; */
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    transform: matrix(0.586,0.8,-0.8,0.586,40,10);
  }
  
  button:hover {
    background-color: #bd0fbd;
    transform: skew(75deg);
    box-shadow: 50px 50px black;
  }

  /* needs some more complex css/javascript for active features */
  /* .btn.active {
      background-color: rgb(236, 101, 101);
      transform: scale(0.29);
  } */
  
  .operator {
    color: #337cac;
    font-style: bold;
    transform: matrix(0.866,0.6,-0.8,0.866,0,0);
  }
  
  .all-clear {
    background-color: #f0595f;
    border-color: #ac0474;
    color: #fff;
    transform: matrix(0.586,0.8,-0.8,0.866,0,0);
  }
  
  .all-clear:hover {
    background-color: #f17377;
  }
  
  .equal-sign {
    background-color: #e79213;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 4;
    box-shadow: -3px 3px black;
    transform: matrix(0.586,-0.8,0.8,0.866,0,0);
  }
  
  .equal-sign:hover {
    background-color: #4e9ed4;
    transform: rotate(90deg);
  } 

  /* rows and columns for a grid container */
  .calculator-keys {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      /* add some space between the butttons */
      grid-gap: 20px;
      /* or use:
      grid-row-gap: 20px;
      grid-column-gap: 20px; */
      padding: 20px
  }